footer.footer--wrap
  .container
    .footer
      .row
        .col-lg-3.col-md-12
          .logo
            a(href="#").logotype
              +icon('logo')
        .col-lg-3.col-md-12
          .menu-foot
            ul._nav-foot
              li._item-foot
                a.text_30(href="#")._link-foot
                  | О КОМПАНИИ
                a.text_16(href="#")._link-foot
                  | Доставка и оплата одежды
                a.text_16(href="#")._link-foot
                  | Политика конфиденциальности
                a.text_16(href="#")._link-foot
                  | Опт
                a.text_16(href="#")._link-foot
                  | О Нас
        .col-lg-3.col-md-12
          .menu-foot
            ul._nav-foot
              li._item-foot
                a.text_30(href="#")._link-foot
                  | ЗАКАЗЧИКАМ
                a.text_16(href="#")._link-foot
                  | Личный кабинет
                a.text_16(href="#")._link-foot
                  | История заказов
                a.text_16(href="#")._link-foot
                  | Закладки
                a.text_16(href="#")._link-foot
                  | Возврат товара
                a.text_16(href="#")._link-foot
                  | Обратная связь
        .col-lg-3.col-md-12
          .phone-foot
            a.text_30(href="tel:+380683460475")
              | +38 068 346 04 75
            a.text_30(href="tel:+380664003814")
              | +38 066 400 38 14
            .social__icons
              a(href="#")
                +icon('viber')
              a(href="#")
                +icon('telegram')
              a(href="#")
                +icon('whatsup')
              span
              a(href="#")
                +icon('youtube')
              a(href="#")
                +icon('facebook')
              a(href="#")
                +icon('instagram')