header.header--wrap
  .container
    .header
      ._main
        ._logo
          a(href="#").logotype
            +icon('logo')
        ._menu
          ul.nav
            li._item
              a.text_18(href="#")._link
                | КАТАЛОГ
                +icon('arrow_down')
              ._menu-catalog
                ._buttons
                  button(type='button' name='box1').menu_btn
                    | Мужская одежда
                  button(type='button' name='box2').menu_btn
                    | Женская одежда
                  button(type='button' name='box3').menu_btn
                    | Детская одежда
                ._clothes
                  ._box.box1
                    ._box-main
                      ._pants
                        a.text_24(href='#')
                          | Штаны
                        a.text_18(href='#')
                          | Футболки ПОЛО
                        a.text_18(href='#')
                          | Лоргсливы
                        a.text_18(href='#')
                          | Свитшоте Регланы
                        a.text_18(href='#')
                          | Толстовки Худи
                        a.text_18(href='#')
                          | Анораки Ветровки
                        a.text_18(href='#')
                          | Спортивные штаны

                      ._accessories
                        a.text_24(href='#')
                          | Аксессуары
                        a.text_18(href='#')
                          | Футболки ПОЛО
                        a.text_18(href='#')
                          | Лоргсливы
                        a.text_18(href='#')
                          | Свитшоте Регланы
                        a.text_18(href='#')
                          | Толстовки Худи
                        a.text_18(href='#')
                          | Анораки Ветровки
                        a.text_18(href='#')
                          | Спортивные штаны

                      ._outerwears
                        a.text_24(href='#')
                          | Верхняя одежда
                        a.text_18(href='#')
                          | Футболки ПОЛО
                        a.text_18(href='#')
                          | Лоргсливы
                        a.text_18(href='#')
                          | Свитшоте Регланы
                        a.text_18(href='#')
                          | Толстовки Худи
                        a.text_18(href='#')
                          | Анораки Ветровки
                        a.text_18(href='#')
                          | Спортивные штаны
                  ._box.box2
                    ._box-main
                      ._outerwears
                        a.text_24(href='#')
                          | Верхняя одежда
                        a.text_18(href='#')
                          | Футболки ПОЛО
                        a.text_18(href='#')
                          | Лоргсливы
                        a.text_18(href='#')
                          | Свитшоте Регланы
                        a.text_18(href='#')
                          | Толстовки Худи
                        a.text_18(href='#')
                          | Анораки Ветровки
                        a.text_18(href='#')
                          | Спортивные штаны
                      ._pants
                        a.text_24(href='#')
                          | Штаны
                        a.text_18(href='#')
                          | Футболки ПОЛО
                        a.text_18(href='#')
                          | Лоргсливы
                        a.text_18(href='#')
                          | Свитшоте Регланы
                        a.text_18(href='#')
                          | Толстовки Худи
                        a.text_18(href='#')
                          | Анораки Ветровки
                        a.text_18(href='#')
                          | Спортивные штаны
                      ._accessories
                        a.text_24(href='#')
                          | Аксессуары
                        a.text_18(href='#')
                          | Футболки ПОЛО
                        a.text_18(href='#')
                          | Лоргсливы
                        a.text_18(href='#')
                          | Свитшоте Регланы
                        a.text_18(href='#')
                          | Толстовки Худи
                        a.text_18(href='#')
                          | Анораки Ветровки
                        a.text_18(href='#')
                          | Спортивные штаны





                  ._box.box3
                    ._box-main
                      ._outerwears
                        a.text_24(href='#')
                          | Верхняя одежда
                        a.text_18(href='#')
                          | Футболки ПОЛО
                        a.text_18(href='#')
                          | Лоргсливы
                        a.text_18(href='#')
                          | Свитшоте Регланы
                        a.text_18(href='#')
                          | Толстовки Худи
                        a.text_18(href='#')
                          | Анораки Ветровки
                        a.text_18(href='#')
                          | Спортивные штаны
                      ._pants
                        a.text_24(href='#')
                          | Штаны
                        a.text_18(href='#')
                          | Футболки ПОЛО
                        a.text_18(href='#')
                          | Лоргсливы
                        a.text_18(href='#')
                          | Свитшоте Регланы
                        a.text_18(href='#')
                          | Толстовки Худи
                        a.text_18(href='#')
                          | Анораки Ветровки
                        a.text_18(href='#')
                          | Спортивные штаны
                      ._accessories
                        a.text_24(href='#')
                          | Аксессуары
                        a.text_18(href='#')
                          | Футболки ПОЛО
                        a.text_18(href='#')
                          | Лоргсливы
                        a.text_18(href='#')
                          | Свитшоте Регланы
                        a.text_18(href='#')
                          | Толстовки Худи
                        a.text_18(href='#')
                          | Анораки Ветровки
                        a.text_18(href='#')
                          | Спортивные штаны




            li._item
              a.text_18(href="#")._link
                | КЛИЕНТАМ
                +icon('menu')
              ._menu-client
                ._cell
                  a(href="#")
                    +icon('client01')
                    span.text_20 ОПТ
                ._cell
                  a(href="#")
                    +icon('client02')
                    span.text_20 О НАС
                ._cell
                  a(href="#")
                    +icon('client03')
                    span.text_20 ОТЗЫВЫ
                ._cell
                  a(href="#")
                    +icon('client04')
                    span.text_20 ДОСТАВКА И ОПЛАТА
                ._cell
                  a(href="index-contacts.html")
                    +icon('client05')
                    span.text_20 КОНТАКТЫ
            li._item
              a.text_18(href="#")._link
                | SALE
            li._item
              a.text_18(href="#")._link
                | КОМПЛЕКТЫ ОДЕЖДЫ
                +icon('arrow_down')
              ._menu-complect
                ._cell
                  a(href="index-man-comp.html")
                    +icon('complect01')
                    span.text_20 МУЖСКИЕ КОМПЛЕКТЫ
                ._cell
                  a(href="index-woman-coll.html")
                    +icon('complect02')
                    span.text_20 ЖЕНСКИЕ КОМПЛЕКТЫ
                ._cell
                  a(href="#")
                    +icon('complect03')
                    span.text_20 ДЕТСКИЕ КОМПЛЕКТЫ
      ._info
        ._lang
          a.text_18(href="#")
            | РУС
            +icon('arrow_down')
          ._change
            a.text_20(href="#")
              | РУССКИЙ
            a.text_20(href="#")
              | УКРАЇНСЬКА
            a.text_20(href="#")
              | ENGLISH
        ._icons
          ._phone-active
            a(href="#")
              +icon('phone')
            ._phone
              a.text_20(href="tel:+3809632423432") +38(096) 324-234-32
              a.text_20(href="tel:+3809632423432") +38(096) 324-234-32
              a.text_20(href="tel:+3809632423432") +38(096) 324-234-32
              .calendar
                +icon('calendar')
                p.text_20 Пн-Сб - 10:00-18:00
          a(href="#")
            +icon('search')
          a(href="#")
            +icon('heart')
          a(href="index-basket.html")
            +icon('basket')
          a(href="#")
            +icon('user')