extends ../layout/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'

block content
  - var welcomeInfo = ['МУЖСКАЯ', 'ЖЕНСКАЯ', 'КОЛЛЕКЦИЯ','Распродажа коллекций со скидками до 50%, доставка до вашего склада']

  include ../modules/header-alt
  .content
    include ../custom/index-contacts/contacts
  include ../modules/footer


block script