.collection
  width 100%
  padding 0 100px
  position relative
  &--wrap
    width 100%
    background-color #D8DDE3
  &__content
    h1
      padding 168px 0 0 8px
      font-weight: bold;
      font-size: 72px;
      line-height: 88px;
      letter-spacing: 0.07em;
      color: #0F0F0F;
      text-shadow: 0px 0px 30px rgba(118, 118, 118, 0.25);
      p.text_24
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.07em;
        color: #0F0F0F;
  &__image
    width auto
    position absolute
    top 0
    right 100px
    z-index 10
  &__img
    size(104%)

button.more_btn
  margin: 100px 0 188px 0;