.bread-crumbs
	display flex
	padding 25px 100px
	background-color baseWhite
	a.text_18
		font-weight: bold;
		line-height: 22px;
		letter-spacing: 0.07em;
		color: #B2B2B2;
		&::after
			content ">"
			margin 0 5px
	span.text_18
		font-weight: bold;
		line-height: 22px;
		letter-spacing: 0.07em;
		color: #0F0F0F;


.btn_global
	width max-content
	padding 0 45px
	height 45px
	display flex
	justify-content center
	align-items center
	border-radius 5px
	text-transform uppercase
	background white
	border none
	cursor pointer
	font-weight bold
	box-shadow 1px 1px 2px purple
	transition()
	&:hover
		color purple
	&:active
		box-shadow 1px 1px 4px purple
		transform translateY(3px) scale(0.98)

.main_btn
	width: 313px;
	height: 73px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	padding 0 45px
	display flex
	justify-content center
	align-items center
	text-transform uppercase
	background transparent
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.07em;
	color baseWhite
	position relative
	padding-right: 100px;
	&::before
		content ""
		position absolute
		top 50%
		right 30px
		width 74px
		height: 1px;
		background-color white

.menu_btn
	width: 313px;
	height: 59px;
	border: 1px solid #0F0F0F;
	box-sizing: border-box;
	display flex
	justify-content center
	align-items center
	background transparent
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.07em;
	color: #0F0F0F;

.best_btn
	width: 100%;
	padding 20px 0
	background: #0F0F0F;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	//box-shadow: 0px 67px 75px rgba(0, 0, 0, 0.1);

.subscribe_btn
	width: 70%;
	padding 20px 0
	color baseWhite
	background: #0F0F0F;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.07em;

.more_btn
	width: 274px;
	height: 73px;
	border: 2px solid #0F0F0F;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.07em;
	color: #0F0F0F;
	background-color #D8DDE3

.read_btn
	width: 270px;
	height: 65px;
	background: #FFFFFF;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #0F0F0F;
	transition transition

.more-news_btn
	width: 370px;
	height: 73px;
	background baseWhite
	border: 1px solid #0F0F0F;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #0F0F0F;

.man_btn
	width: 323px;
	height: 69px;
	border: 3px solid #878787;
	background-color #fff
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.07em;
	color: #878787;
	margin 0 50px
	transition transition
	//&:hover
	//	background-color: #878787;
	//	color baseWhite

.basket_btn
	width: 376px;
	height: 69px;
	background: #0F0F0F;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.07em;
	color: #FFFFFF;
	&:hover
		background-color: #FFFFFF;
		color #0F0F0F

.basketi_btn
	width: 376px;
	height: 69px;
	background: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.07em;
	color: #0F0F0F;
	&:hover
		background-color: #0F0F0F;
		color #FFFFFF

.count_btn
	width: 73px;
	height: 73px;
	border: 2px solid #000000;
	background-color baseWhite
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.07em;
	color: #0F0F0F;
	margin 0 20px
	transition transition
	&:hover
		background-color: #0F0F0F;
		color #FFFFFF

.submit_btn
	width: 376px;
	height: 69px;
	background: #0F0F0F;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.07em;
	color: #FFFFFF;

.delete_btn
	padding 0
	border-top none
	border-right none
	border-left none
	border-bottom 1px dashed #B2B2B2
	background-color white
	font-weight: bold;
	line-height: 29px;
	letter-spacing: 0.07em;
	color: #B2B2B2;