.best--wrap
  .container
    .best
      .head_main
        h2
          | ЛУЧШИЕ ПРЕДЛОЖЕНИЯ
        a(href="#").text_24
          | ПЕРЕЙТИ В КАТАЛОГ
      ._content
        .row
          .col-lg-3.col-md-12
            .main
              ._photo
                +img('content/best01', 'png', 'main__photo')
              ._block
                ._info
                  ._colors
                    img(src='../static/img/svg/elips01.svg' alt='icon')
                    img(src='../static/img/svg/elips02.svg' alt='icon')
                    img(src='../static/img/svg/elips03.svg' alt='icon')
                    img(src='../static/img/svg/elips04.svg' alt='icon')
                    img(src='../static/img/svg/elips05.svg' alt='icon')
                  ._rate-size
                    +stars('3')
                    ._size
                      a(href="#")
                        | S
                      a(href="#")
                        | M
                      a(href="#")
                        | L
                  p.text_16
                    | Футболка мужская Exclusive 22032
                  span 245₴
                +btn_global('button', 'ВЫБРАТЬ РАЗМЕР','best_btn')

          .col-lg-3.col-md-12
            .main
              ._photo
                +img('content/best01', 'png', 'main__photo')
              ._block
                ._info
                  ._colors
                    img(src='../static/img/svg/elips01.svg' alt='icon')
                    img(src='../static/img/svg/elips02.svg' alt='icon')
                    img(src='../static/img/svg/elips03.svg' alt='icon')
                    img(src='../static/img/svg/elips04.svg' alt='icon')
                    img(src='../static/img/svg/elips05.svg' alt='icon')
                  ._rate-size
                    +stars('3')
                    ._size
                      a(href="#")
                        | S
                      a(href="#")
                        | M
                      a(href="#")
                        | L
                  p.text_16
                    | Футболка мужская Exclusive 22032
                  span 245₴
                +btn_global('button', 'ВЫБРАТЬ РАЗМЕР','best_btn')
          .col-lg-3.col-md-12
            .main
              ._photo
                +img('content/best01', 'png', 'main__photo')
              ._block
                ._info
                  ._colors
                    img(src='../static/img/svg/elips01.svg' alt='icon')
                    img(src='../static/img/svg/elips02.svg' alt='icon')
                    img(src='../static/img/svg/elips03.svg' alt='icon')
                    img(src='../static/img/svg/elips04.svg' alt='icon')
                    img(src='../static/img/svg/elips05.svg' alt='icon')
                  ._rate-size
                    +stars('3')
                    ._size
                      a(href="#")
                        | S
                      a(href="#")
                        | M
                      a(href="#")
                        | L
                  p.text_16
                    | Футболка мужская Exclusive 22032
                  span 245₴
                +btn_global('button', 'ВЫБРАТЬ РАЗМЕР','best_btn')

          .col-lg-3.col-md-12
            .main
              ._photo
                +img('content/best01', 'png', 'main__photo')
              ._block
                ._info
                  ._colors
                    img(src='../static/img/svg/elips01.svg' alt='icon')
                    img(src='../static/img/svg/elips02.svg' alt='icon')
                    img(src='../static/img/svg/elips03.svg' alt='icon')
                    img(src='../static/img/svg/elips04.svg' alt='icon')
                    img(src='../static/img/svg/elips05.svg' alt='icon')
                  ._rate-size
                    +stars('3')
                    ._size
                      a(href="#")
                        | S
                      a(href="#")
                        | M
                      a(href="#")
                        | L
                  p.text_16
                    | Футболка мужская Exclusive 22032
                  span 245₴
                +btn_global('button', 'ВЫБРАТЬ РАЗМЕР','best_btn')
          .col-lg-3.col-md-12
            .main
              ._photo
                +img('content/best01', 'png', 'main__photo')
              ._block
                ._info
                  ._colors
                    img(src='../static/img/svg/elips01.svg' alt='icon')
                    img(src='../static/img/svg/elips02.svg' alt='icon')
                    img(src='../static/img/svg/elips03.svg' alt='icon')
                    img(src='../static/img/svg/elips04.svg' alt='icon')
                    img(src='../static/img/svg/elips05.svg' alt='icon')
                  ._rate-size
                    +stars('3')
                    ._size
                      a(href="#")
                        | S
                      a(href="#")
                        | M
                      a(href="#")
                        | L
                  p.text_16
                    | Футболка мужская Exclusive 22032
                  span 245₴
                +btn_global('button', 'ВЫБРАТЬ РАЗМЕР','best_btn')

          .col-lg-3.col-md-12
            .main
              ._photo
                +img('content/best01', 'png', 'main__photo')
              ._block
                ._info
                  ._colors
                    img(src='../static/img/svg/elips01.svg' alt='icon')
                    img(src='../static/img/svg/elips02.svg' alt='icon')
                    img(src='../static/img/svg/elips03.svg' alt='icon')
                    img(src='../static/img/svg/elips04.svg' alt='icon')
                    img(src='../static/img/svg/elips05.svg' alt='icon')
                  ._rate-size
                    +stars('3')
                    ._size
                      a(href="#")
                        | S
                      a(href="#")
                        | M
                      a(href="#")
                        | L
                  p.text_16
                    | Футболка мужская Exclusive 22032
                  span 245₴
                +btn_global('button', 'ВЫБРАТЬ РАЗМЕР','best_btn')
          .col-lg-3.col-md-12
            .main
              ._photo
                +img('content/best01', 'png', 'main__photo')
              ._block
                ._info
                  ._colors
                    img(src='../static/img/svg/elips01.svg' alt='icon')
                    img(src='../static/img/svg/elips02.svg' alt='icon')
                    img(src='../static/img/svg/elips03.svg' alt='icon')
                    img(src='../static/img/svg/elips04.svg' alt='icon')
                    img(src='../static/img/svg/elips05.svg' alt='icon')
                  ._rate-size
                    +stars('3')
                    ._size
                      a(href="#")
                        | S
                      a(href="#")
                        | M
                      a(href="#")
                        | L
                  p.text_16
                    | Футболка мужская Exclusive 22032
                  span 245₴
                +btn_global('button', 'ВЫБРАТЬ РАЗМЕР','best_btn')

          .col-lg-3.col-md-12
            .main
              ._photo
                +img('content/best01', 'png', 'main__photo')
              ._block
                ._info
                  ._colors
                    img(src='../static/img/svg/elips01.svg' alt='icon')
                    img(src='../static/img/svg/elips02.svg' alt='icon')
                    img(src='../static/img/svg/elips03.svg' alt='icon')
                    img(src='../static/img/svg/elips04.svg' alt='icon')
                    img(src='../static/img/svg/elips05.svg' alt='icon')
                  ._rate-size
                    +stars('3')
                    ._size
                      a(href="#")
                        | S
                      a(href="#")
                        | M
                      a(href="#")
                        | L
                  p.text_16
                    | Футболка мужская Exclusive 22032
                  span 245₴
                +btn_global('button', 'ВЫБРАТЬ РАЗМЕР','best_btn')