.info--wrap
  .container
    .info
      p.text_16
        | ТМ «HECTOR» - украинский производитель качественной мужской одежды, который более 10 лет разрабатывает и выпускает широкий ассортимент моделей с использованием натуральных тканей и фурнитуры. При помощи современного оборудования на изделия наносятся вышивка, принты и другие декоративные элементы. Одним из наиважнейших аспектов нашего производства является контроль качества каждого изделия на всех этапах. Мужскую одежду от Hector можно купить оптом или в розницу.
        br
        br
        | Наши представительства находятся в г. Хмельницкий, Одесса, Харьков. Наш интернет-магазин мужской одежды работает с доставкой по всей территории Украины.
        br
        br
        | В представленных каталогах можно найти: футболки, поло, лонгсливы, свитшоты, регланы, спортивную одежду и многое другое. Частое обновление коллекций, удобная система выбора и подробное описание товара, доступные цены,  система скидок, предоставляемых «HECTOR»,
        a.text_16(href="#")
          |  показать полностью