.news--wrap
  .container
    .news
      .row
        .col-lg-6.col-md-12
          .head_main
            h2
              | НАШИ НОВОСТИ
          .text
            p.text_22
              | Trends time: ключевые тренды в мужской одежде на 2020 год
            p.text_16
              | Времена меняются, а встречают по-прежнему по одежке… Не удивительно, что мужчинам всегда хочется одеваться не просто красиво, а еще и модно. Но тренды меняются с такой завидной скоростью, что порой не успеваешь за ними уследить,...
            a.text_16(href="#")
              | ЧИТАТЬ
          .text
            p.text_22
              | Trends time: ключевые тренды в мужской одежде на 2020 год
            p.text_16
              | Времена меняются, а встречают по-прежнему по одежке… Не удивительно, что мужчинам всегда хочется одеваться не просто красиво, а еще и модно. Но тренды меняются с такой завидной скоростью, что порой не успеваешь за ними уследить,...
            a.text_16(href="#")
              | ЧИТАТЬ
          .text
            p.text_22
              | Trends time: ключевые тренды в мужской одежде на 2020 год
            p.text_16
              | Времена меняются, а встречают по-прежнему по одежке… Не удивительно, что мужчинам всегда хочется одеваться не просто красиво, а еще и модно. Но тренды меняются с такой завидной скоростью, что порой не успеваешь за ними уследить,...
            a.text_16(href="#")
              | ЧИТАТЬ
          .more
            a.text_24(href="#")
              | БОЛЬШЕ НОВОСТЕЙ
        .col-lg-6.col-md-12
          .photo
            +img('content/man02', 'png','photo')