.promotion--wrap
  .container
    .promotion
      .head_main
        h2
          | АКЦИИ И СКИДКИ
        a(href="#").text_24
          | Посмотреть все
      ._content
        ul.product_list
          li._item
            .slide
              +img('content/promo01', 'png','slide')
              ._info
                span.text_36
                  | Бесплатая доставка
                p.text_24
                  | Заказов от 500 грн, при условии полной оплаты на карту
                a.text_24(href="#")
                  | ПОДРОБНЕЕ
          li._item
            .slide
              +img('content/promo02', 'png','slide')
              ._info
                span.text_36
                  | SALE на футболки
                p.text_24
                  | Мужски футболки с принтами до -40%
                a.text_24(href="#")
                  | ПОДРОБНЕЕ
          li._item
            .slide
              +img('content/promo01', 'png','slide')
              ._info
                span.text_36
                  | Новая серия
                p.text_24
                  | Мужски футболки с принтами в с тиле хайтек со скидкой -15%
                a.text_24(href="#")
                  | ПОДРОБНЕЕ