.reviews--wrap
  .container
    .reviews
      .row
        .head_main
          h2
            | ОТЗЫВЫ
        .col-lg-6.col-md-12
          .rew
            +stars('5')
            p.text_22
              | Лилия Нилова
            p.text_16
              | Времена меняются, а встречают по-прежнему по одежке… Не удивительно, что мужчинам всегда хочется одеваться не просто красиво, а еще и модно. Но тренды меняются с такой завидной скоростью, что порой не успеваешь за ними уследить,...
            p.text_16
              | 29.04.2020
        .col-lg-6.col-md-12
          .rew
            +stars('5')
            p.text_22
              | Андрей Бортин
            p.text_16
              | Времена меняются, а встречают по-прежнему по одежке… Не удивительно, что мужчинам всегда хочется одеваться не просто красиво, а еще и модно. Но тренды меняются с такой завидной скоростью, что порой не успеваешь за ними уследить,...
            p.text_16
              | 29.04.2020
      .more-rew
        a.text_24(href="#")
          | БОЛЬШЕ ОТЗЫВОВ