.best
  width 100%
  padding: 100px 100px 100px;
  &__content
    width 100%

.main
  width 100%
  position relative
  margin-bottom 280px
  //overflow hidden
  &__photo
    width 100%
    &__image
      display block
      width 100%
    &__img
      width 100%

  &__block
    width: 105%;
    background: baseWhite;
    border: 1px solid #E7E7E7;
    display flex
    flex-direction column
    justify-content: space-between;
    position absolute
    bottom -230px
    left -10px
    z-index 12
  &__info
    width 100%
    height: 100%;
    padding 25px
    display flex
    flex-direction column
    justify-content: space-between;
    align-items: flex-start;
  &__colors
    img
      margin-right 15px
      padding-bottom: 25px;
      //display none
  &__rate-size
    width: 100%;
    padding-bottom 25px
    display flex
    flex-direction row
    justify-content space-between
  &__size
    a
      font-size: 22px;
      line-height: 27px;
      color #E7E7E7;
      margin-left 10px
      &:hover
        color: #0F0F0F;
        font-weight: bold;
  span
    padding-top 25px
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.07em;
    color: #0F0F0F;
.best_btn
  width 100%
  //display none