.info
  width 100%
  padding 50px 100px
  &--wrap
    width: 100%;
    p.text_16
      font-weight: 300;
      line-height: 25px;
      letter-spacing: 0.07em;
      color: #0F0F0F;
      a.text_16
        font-weight: 600;
        &:hover
          color: #0F0F0F