.news
  width 100%
  padding: 100px 100px 0;
  &--wrap
    width 100%
    background-color #F4EFEC

.text
  position relative
  p.text_22
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    color: #000000;
    padding: 65px 0 25px;
  p.text_16
    padding-bottom 25px
    line-height: 140%;
  a.text_16
    position relative
    line-height: 140%;
    &:hover
      color: #0F0F0F
    &::before
      content ""
      position absolute
      bottom 50%
      left 80px
      width 74px
      height: 1px;
      background-color #0F0F0F

.more
  padding 93px 0 74px
  position relative
  a.text_24
    font-weight: 300;
    line-height: 100%;
    text-transform: uppercase;
    color: #0F0F0F;
    &::before
      content ""
      position absolute
      bottom 87px
      left 280px
      width 74px
      height: 1px;
      background-color #0F0F0F

.photo
  width 100%
  &__image
    width 100%
    height: 1000px;
  &_img
    width 100%