.reviews
  width 100%
  padding: 100px 100px 0
  &--wrap
    width 100%

.rew
  width 100%
  max-width 750px
  p.text_22
    font-weight: bold;
    line-height: 130%;
    color: #000000;
    padding 10px 0 15px
  p.text_16
    line-height: 140%;
    color: #000000;
    padding-bottom: 25px;

.more-rew
  padding 57px 0 20px
  position relative
  &::before
    content ""
    position absolute
    top 70px
    left 265px
    width 74px
    height: 1px;
    background-color #0F0F0F
  a.text_24
    padding 0
    &:hover
      color: #0F0F0F