.subscribe
  width 100%
  padding: 50px 100px
  &--wrap
    width 100%
    background-color #F6F6F6

.form, .social
  width 100%
  max-width 650px

.social__icons
  width 100%
  display flex
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  svg
    size(50px)
    fill #878787
  span
    width: 2.32px;
    height: 65px;
    background: #878787;
    display block

form
  width 100%
  display flex
  justify-content: center;
  align-items: center;
  flex-direction column

.phone
  width 70%
  position relative
  svg
    position absolute
    top 45%
    left 20px
    size(24px)
    fill #878787
  input
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #BFBFBF;
    padding 20px
    margin: 40px 0 32px;
    padding-left: 50px;
    line-height: 29px;
    letter-spacing: 0.07em;
    color: #878787;

p.text_30
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #0F0F0F;

