.footer
  width 100%
  padding: 100px 0;

  &--wrap
    width 100%
    background-image: url("../img/content/polygon.png")
    background-color #636363
    background-repeat no-repeat
    background-position 50% 50%
    background-size contain
  .logotype
    margin 0 0 0 100px

.menu-foot
  width 100%
  &__item-foot
    width 100%
    display flex
    flex-direction column
    justify-content: space-between;
    align-items flex-start
  a.text_30
    font-weight: bold;
    line-height: 37px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    padding-bottom: 64px;
  a.text_16
    line-height: 40px;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, 0.75);

.phone-foot
  width 100%
  max-width 310px
  display: flex;
  flex-direction column
  justify-content: center;
  align-items: center;
  a.text_30
    line-height: 50px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
  .social__icons
    padding-top 50px
    svg
      size(24px)
      fill baseWhite