.text_12
	font-size px(12)

.text_14
	font-size px(14)

.text_16
	font-size px(16)

.text_18
	font-size px(18)

.text_20
	font-size px(20)

.text_22
	font-size px(22)

.text_24
	font-size px(24)

.text_30
	font-size px(30)

.text_36
	font-size px(36)

.text_48
	font-size px(48)

.bold
	font-weight bold

.medium
	font-weight 500