.ordering
  width 100%
  padding 0 100px 100px
  &__zag
    padding-bottom: 50px;
    text-align center
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.07em;
    color: #0F0F0F;
  &--wrap
    width 100%
  &__login
    width: 100%;
    display: flex;
    justify-content: center;
    align-items center
    p.text_24
      padding-bottom: 25px  ;
      text-align center
      font-weight: bold;
      line-height: 29px;
      letter-spacing: 0.07em;
      color: #0F0F0F;
  &__registr, &__firsttime
    padding 0 34px
  &__form
    width 100%
    form.form-main
      width 100%
      padding: 100px 0;
      p.text_18
        font-weight: bold;
        line-height: 22px;
        letter-spacing: 0.07em;
        color: #B2B2B2;
        padding: 25px 0 5px;
      textarea.text_18
        width 70%
        font-weight: bold;
        border: 3px solid #000000;
        line-height: 22px;
        letter-spacing: 0.07em;
        color: #000;
      p.text_24
        font-weight: bold;
        line-height: 29px;
        letter-spacing: 0.07em;
        color: #B2B2B2;
        padding-bottom: 25px;
    .left
      padding-top 50px
    .center

    .input
      width: 374px
      padding 10px 0
      margin-bottom 20px
      border-top none
      border-right none
      border-left none
      border-bottom 3px solid black
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.07em;
      color: #0F0F0F;
      &::placeholder
        color #0F0F0F;
    .input-required
      position relative
      &::after
        content "1111"
        position: absolute
        top 0
        left 0

