.container
  .bread-crumbs
    a.text_18(href="index.html")
      | Главная
    span.text_18
      | Женская одежда

.collection--wrap
  .container
    .collection
      ._content
        h1
          | ЖЕНСКАЯ КОЛЛЕКЦИЯ
        p.text_24
          | Распродажа коллекций со скидками до 50%,
        p.text_24
          | доставка до вашего склада
        +btn_global('button', 'ПОДРОБНЕЕ','more_btn')
      +img('content/woman02', 'png', 'collection')