.news-woman--wrap
  .container
    .news-woman
      h2.zag
        | НОВОСТИ
    .row
      .col-lg-6.col-md-12
        .trends
          +img('content/man03', 'png', 'trends')
          .trends-content
            p.text_36
             | Тренды мужской одежды 2020
            p.text_18
             | Распродажа коллекций со скидками до 50%, доставка до вашего склада
            +btn_global('button', 'ЧИТАТЬ','read_btn')
      .col-lg-6.col-md-12
        .trends
          +img('content/man03', 'png', 'trends')
          .trends-content
            p.text_36
              | Тренды мужской одежды 2020
            p.text_18
              | Распродажа коллекций со скидками до 50%, доставка до вашего склада
            +btn_global('button', 'ЧИТАТЬ','read_btn')
    .news-btn
      +btn_global('button', 'БОЛЬШЕ НОВОСТЕЙ','more-news_btn')