.reviews-woman--wrap
  .container
    .reviews-woman
      h2.zag
        | ОТЗЫВЫ
      .row
        .col-lg-6.col-md-12
          .reviews-info
            p.text_18
              | Алина
            +stars('4')
            p.text_16
              | Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке форм развития.
              br
              | Идейные соображения высшего порядка,а также дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров,соответствует насущным потребностям.
            span.text_16
              | 29.04.2020
        .col-lg-6.col-md-12
          .reviews-info
            p.text_18
              | Оксана
            +stars('4')
            p.text_16
              | Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке форм развития.
              br
              | Идейные соображения высшего порядка,а также дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров,соответствует насущным потребностям.
            span.text_16
              | 29.04.2020
      .more-r
        a.text_24(href="#")
          | Больше отзывов
